extends layout
block styles
	link(rel="stylesheet", href="/static/pages/reg/reg.css")

block content
	.ui.middle.aligned.center.aligned.grid
		.column
			h2.ui.header Register
			
			form#reg-form.ui.inverted.large.form(action="/user/reg", method="POST")
				.ui.stacked.segment
					.field
						.ui.left.icon.input
							i.user.icon
							input(type="text" name="username" placeholder="Account name")
					.field
						.ui.left.icon.input
							i.lock.icon
							input(type="password" name="password" placeholder="Password")
					.field
						.ui.left.icon.input
							i.lock.icon
							input(type="password" name="confirm-password" placeholder="Comfirm password")
					.ui.blue.submit.button Submit
					.ui.error.message

block footer

block scripts
	script(src="/static/pages/reg/reg.js")
