extends layout
block styles
	link(rel="stylesheet", href="/static/lib/datetimepicker/jquery.datetimepicker.css")
	link(rel="stylesheet", href="/static/pages/flist/flist.css")

block content
	//- if (flist)
	//- 	- for (var e in flist)
	//- 		p= flist[e]
	//- div
	//- 	form(action="/finance/add" method="post")
	//- 		label(for="number") 金额
	//- 		input(type="text" name="number")
	//- 		label(for="number") 类型
	//- 		input(type="text" name="type_id")
	//- 		label(for="number") 时间
	//- 		input(type="text" name="date")
	//- 		label(for="number") 标签
	//- 		input(type="text" name="tag_arr")
	//- 		input(type="submit" value="提交")
	.ui.grid.finance
		.grey.four.wide.column
			.ui.secondary.inverted.fluid.vertical.menu.side-bar
				.item
					.header 列表
					.menu
						a#finance-list.item.active(href="javascript: void(0)") 列表
				.item 
					.header 统计信息
					.menu
						a#finance-cost.item(href="javascript: void(0)") 出入
						a#finance-type.item(href="javascript: void(0)") 花费范围

		.olive.twelve.wide.column
			.finance-table
			.cost-chart

			.range-chart
		
block footer

block scripts
	script(src="/static/lib/datetimepicker/jquery.datetimepicker.full.js")
	script(src="/static/lib/echarts/echarts.min.js")
	script(src="/static/pages/flist/flist.js")